<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Promotion</h3>

<p>
    <button type="button" class="btn btn-primary"><a th:href="@{/}" style="text-decoration: none; color: white">
        Back to promotion list
    </a></button>
</p>
<div th:text="${message}"></div>
<form th:action="@{/delete}" th:object="${promotion}"
      method="POST">
    <input th:type="hidden" name="id" th:field="*{id}">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" th:field="*{title}">
    </div>
    <div class="mb-3">
        <label class="form-label">Time Start</label>
        <input type="date" class="form-control" th:field="*{timeStart}">
    </div>
    <div class="mb-3">
        <label class="form-label">Time End</label>
        <input type="date" class="form-control" th:field="*{timeEnd}">
    </div>
    <div class="mb-3">
        <label class="form-label">Discount Rate</label>
        <input type="number" class="form-control" th:field="*{value}">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" th:field="*{description}" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Delete</button>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>